head
	title tester
	link(rel='stylesheet', href='/stylesheets/screen.css')
	link(rel='stylesheet', href='/stylesheets/print.css')
<!--[if IE 8]>
link(rel='stylesheet', href='/stylesheets/ie.css')
<!--<![endif]-->